services:
  migrate:
    image: ghcr.io/kukymbr/goose-docker:latest
    container_name: agora_db_migrator
    env_file:
      - .env.docker
    volumes:
      - ./internal/database/migrations:/migrations:ro
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: agora_backend_app
    ports:
      - "${APP_PORT:-8080}:${APP_PORT:-8080}"
    env_file:
      - .env.docker
    environment:
      IS_DOCKER: true
    depends_on:
      migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    volumes:
      - ./config.yml:/app/config.yml:ro
#    healthcheck:
#      test: [ "CMD", "wget", "--spider", "-q", "http://127.0.0.1:8000/health" ]
#      interval: 10s
#      timeout: 3s
#      retries: 5

  postgres:
    image: postgres:16-alpine
    container_name: agora_db
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  redis:
    image: redis:latest
    container_name: agora_backend_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres_data:
  redis_data:
